body {
  background-color: #F2F2F2 !important;
  min-height: 100vh;
  color: #4460EF !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

.navbar-brand {

}

.lightNav {
  background-color: transparent !important;
}

.darkNav {
  background-color: transparent !important;
}

.menuLink {
  color: #002347 !important;
  font-size: medium;
}

.menuLink:hover {
  color: #4460EF !important;
}